* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

:root{
  --primary-color: #2a2929;
  --secondary-color: #232222;
  --main-font: Bebas Neue;
  --cassette-background: #121211;
  --error-color: rgb(222, 13, 13);
}

img, video, svg {
  max-width: 100%;
}
